<div class="row">
  <div class="col-sm-2">
    <app-product-count></app-product-count>
  </div>
  <div class="col-md-10">
    <div class="row" *ngFor="let product of products">
      <div class="col-md-2" >
          <img class="prodimage"
          mat-card-image class="prodimg" 
            src="{{product.images[0]}}" 
            alt="Photo of a Shiba Inu"
            onerror="this.src='./assets/default.jpeg'">
      </div>
      <div class="col-md-7">
        <b>{{product.name}}</b><br/>
      </div>
      <div class="col-md-3">
          <b>Rs. {{product.price}}</b><br/>
      </div>
    </div>
</div>
</div>
